#!/bin/bash
# SPECIFY JOB SUBMISSION PARAMETERS
#SBATCH --job-name={{job_name}}
#SBATCH --ntasks=1
#SBATCH --mem={{job_memory}}
#SBATCH --time={{job_walltime}}

# SPECIFY LOGGING BEHAVIOR

#SBATCH --output={{logs_folder}}/{% raw %}${PBS_JOBNAME}.o${PBS_JOBID}.log{% endraw %}
#SBATCH --error={{logs_folder}}/{% raw %}${PBS_JOBNAME}.e${PBS_JOBID}.err{% endraw %}

# FOR THINGS LIKE 'module load ...' OR 'conda activate ...'
{{ setup }}

echo "`date` Starting"

{{ command }} \
{{ argument_1 }} \
{{ argument_2 }} \
{{ argument_3 }} \
{{ argument_4 }} \
{{ argument_5 }} \
{{ argument_6 }} \
{{ argument_7 }} \
{{ argument_8 }} \

echo "`date` Exiting"